.reality-rules {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-text);
    min-width: 100%;
}

.reality-rules:nth-child(3) {
    margin-bottom: 16px;
}

.reality-options-wrapper {
    width: 355px;
    margin-top: 32px;
}

.existing-reality-wrapper {
    font-size: 16px;
    color: var(--warning);
    background: linear-gradient(0deg, rgb(255 222 0 / 0.05), rgb(255 222 0 / 0.05)), var(--color-6);
    padding: 16px;
    margin-top: 16px;
    border-radius: 10px;
    border: 2px solid var(--color-6);
    margin-bottom: 16px;
    display: inline-flex;
    align-items: center;
}

.span,
.current-reality {
    margin-right: 4px;
    line-height: 24px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.existing-reality-wrapper>span {
    margin-right: 6px;
}

.error-image {
    background-image: image-set( url("../../Desktop/Assets/Images/error.png") 1x, url("../../Desktop/Assets/Images/error@2x.png") 2x);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    margin-right: 16px;
    position: relative;
    min-width: 16px;
    min-height: 16px;
}

.next-reality-check {
    font-size: 16px;
    color: var(--warning);
    margin: 20px 0;
}

.button {
    margin-top: 22px;
}

[data-mobile="false"] {
    .form {
        width: 355px;
    }
}