.container {
    form {
        display: grid;
        grid-template-columns: 50%;
        grid-template-rows: 1fr 1fr 1fr 50px;
    }
    button {
        align-self: flex-end;
        width: 100%;
    }
}

[data-mobile="true"] .container {
    form {
        padding: 20px;
        grid-template-columns: 100%;
    }
}