.tip {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: var(--text);
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: var(--dark-text);
}

.button {
    margin: 15px auto;
    background: var(--blue-gradient) !important;
}