.full-screen-menu {
    background-color: var(--background);
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.title {
    position: relative;
    background: var(--color-7);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: var(--text);
    text-transform: capitalize;
    margin-bottom: 10px;
}

.close {
    position: absolute;
    right: 16px;
    margin: auto 0;
}

.icon {
    background: var(--active);
    box-shadow: 0 0 12px 0 rgb(255 158 0 / 0.60);
}