.files-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.link-container {
    display: flex;
    gap: 4px;
    &:hover {
        opacity: .6;
    }
    transition: opacity ease-in-out 200ms;
}

.link-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}