.favourite {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 6px 12px;
    gap: 12px;
    color: var(--text);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.name {
    flex: 1 1 100%;
    min-width: 0;
}