.bet-constructor-bottom {
    color: var(--text);
    position: relative;
    flex: 0 0 auto;
    top: -1px
}

.match-not-active-bonus {
    padding: 10px;
    border-top: 1px solid var(--color-6);
}

@media screen and (max-width: 1379px) and (min-width: 600px) {
    .match-not-active-bonus {
        padding: 8px;
    }
}