.edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    background: var(--color-6);
    border-radius: 6px;
    font-weight: 400;
    font-size: 10px;
    color: var(--text);
    padding: 5px 8px;
    white-space: nowrap;
    line-height: 12px;
}

@media screen and (max-width: 1379px) and (min-width: 600px) {
    .edit-button {
        font-size: 8px;
        padding: 4px 6px;
        height: 19px;
    }
}