.event-buttons-wrapper {
    display: flex;
    height: 42px;
    gap: 5px
}

.active-statistics {
    margin: 10px;
}

.event-button {
    width: 44px;
    height: 36px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: var(--text);
    background: var(--color-2);
    gap: 8px;
    border-radius: 8px;
}

.event-button-full {
    width: 100%;
}

.event-button.active {
    color: var(--active);
}