.warning-card {
    font-size: 16px;
    color: var(--warning);
    display: inline-flex;
    background: linear-gradient(0deg, rgb(255 222 0 / 0.05), rgb(255 222 0 / 0.05)), var(--color-6);
    padding: 16px;
    margin-top: 16px;
    border-radius: 10px;
    border: 2px solid var(--color-6);
    align-items: center;
    line-height: 24px;
}

.error-image {
    background-image: image-set( url("../../Assets/Images/error.png") 1x, url("../../Assets/Images/error@2x.png") 2x);
    background-repeat: no-repeat;
    background-size: contain;
    height: 16px;
    position: relative;
    width: 16px;
    margin-right: 16px;
}

@media screen and (max-width: 768px) {
    .error-image {
        width: 21px;
        min-width: 19px;
    }
    .warning-card {
        font-size: 14px;
        line-height: 18px;
        padding: 8px;
    }
}