.card {
    background: var(--color-1);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    gap: 16px;
    padding: 24px;
    white-space: nowrap;
    color: var(--text);
}

.select-button {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.03em;
    min-width: 85px;
    padding: 8px;
    text-align: center;
    border: 1px solid var(--color-2);
    border-radius: 8px;
}

.card-title {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--dark-text);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.42px;
    line-height: 20px;
}

.fixed-size {
    height: 48px;
    width: 70px;
    min-width: 70px;
}

.card-icon div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.card-icon>img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.description {
    display: flex;
    font-size: 12px;
    font-weight: 500;
    gap: 8px;
    letter-spacing: -.36px;
    line-height: 16px;
    color: var(--light-150);
}

[data-theme="light"] .description {
    color: var(--light-700);
}

[data-mobile="true"] {
    .card {
        width: 100%;
    }
}

[data-mobile="false"] {
    .card {
        width: 288px;
        max-width: calc(50% - 4px);
    }
}

[data-touch="false"] {
    .card:hover {
        background: var(--color-3);
        .select-button {
            background: var(--purple-gradient);
            color: var(--white);
        }
    }
}

.fast-bank {
    background-image: url("../../Assets-Optimized/Images/fastBank.png");
}

.akbank {
    background-image: image-set( url("../../Assets-Optimized/Images/akbank.png") 1x, url("../../Assets-Optimized/Images/akbank@2x.png") 2x);
}

.albaraka {
    background-image: image-set( url("../../Assets-Optimized/Images/albaraka.png") 1x, url("../../Assets-Optimized/Images/albaraka@2x.png") 2x);
}

.alternatif-bank {
    background-image: image-set( url("../../Assets-Optimized/Images/alternatifBank.png") 1x, url("../../Assets-Optimized/Images/alternatifBank@2x.png") 2x);
}

.denizbank {
    background-image: image-set( url("../../Assets-Optimized/Images/denizbank.png") 1x, url("../../Assets-Optimized/Images/denizbank@2x.png") 2x);
}

.fibabank {
    background-image: image-set( url("../../Assets-Optimized/Images/fibabank.png") 1x, url("../../Assets-Optimized/Images/fibabank@2x.png") 2x);
}

.ing-bank {
    background-image: image-set( url("../../Assets-Optimized/Images/ingBank.png") 1x, url("../../Assets-Optimized/Images/ingBank@2x.png") 2x);
}

.papara-bank {
    background-image: image-set( url("../../Assets-Optimized/Images/paparaBank.png") 1x, url("../../Assets-Optimized/Images/paparaBank@2x.png") 2x);
}

.qnb-bank {
    background-image: image-set( url("../../Assets-Optimized/Images/QNBBank.png") 1x, url("../../Assets-Optimized/Images/QNBBank@2x.png") 2x);
}

.seker-bank {
    background-image: image-set( url("../../Assets-Optimized/Images/sekerBank.png") 1x, url("../../Assets-Optimized/Images/sekerBank@2x.png") 2x);
}

.teb-bank {
    background-image: image-set( url("../../Assets-Optimized/Images/tebBank.png") 1x, url("../../Assets-Optimized/Images/tebBank@2x.png") 2x);
}

.turkey-bank {
    background-image: image-set( url("../../Assets-Optimized/Images/turkeyBank.png") 1x, url("../../Assets-Optimized/Images/turkeyBank@2x.png") 2x);
}

.vakif-bank {
    background-image: image-set( url("../../Assets-Optimized/Images/vakifBank.png") 1x, url("../../Assets-Optimized/Images/vakifBank@2x.png") 2x);
}

.yapi-kredi-bank {
    background-image: image-set( url("../../Assets-Optimized/Images/yapiKrediBank.png") 1x, url("../../Assets-Optimized/Images/yapiKrediBank@2x.png") 2x);
}

.halbank {
    background-image: image-set( url("../../Assets-Optimized/Images/halbank.png") 1x, url("../../Assets-Optimized/Images/halbank@2x.png") 2x);
}

.ziraat-bank {
    background-image: image-set( url("../../Assets-Optimized/Images/ziraatBank.png") 1x, url("../../Assets-Optimized/Images/ziraatBank@2x.png") 2x);
}

.anadolubank {
    background-image: image-set( url("../../Assets-Optimized/Images/anadolubank.png") 1x, url("../../Assets-Optimized/Images/anadolubank@2x.png") 2x);
}

.odeabank {
    background-image: image-set( url("../../Assets-Optimized/Images/odeaBank.png") 1x, url("../../Assets-Optimized/Images/odeaBank@2x.png") 2x);
}

.garantibank {
    background-image: image-set( url("../../Assets-Optimized/Images/garantiBank.png") 1x, url("../../Assets-Optimized/Images/garantiBank@2x.png") 2x);
}

.kunveytturkbank {
    background-image: image-set( url("../../Assets-Optimized/Images/kunveytturkBank.png") 1x, url("../../Assets-Optimized/Images/kunveytturkBank@2x.png") 2x);
}

.isbankasi {
    background-image: image-set( url("../../Assets-Optimized/Images/isBankasi.png") 1x, url("../../Assets-Optimized/Images/isBankasi@2x.png") 2x);
}

.ziraat-katilim {
    background-image: image-set( url("../../Assets-Optimized/Images/ziraatKatilim.png") 1x, url("../../Assets-Optimized/Images/ziraatKatilim@2x.png") 2x);
}

.vakif-katilim {
    background-image: image-set( url("../../Assets-Optimized/Images/vakifKatilim.png") 1x, url("../../Assets-Optimized/Images/vakifKatilim@2x.png") 2x);
}

.enpara {
    background-image: image-set( url("../../Assets-Optimized/Images/enpara.png") 1x, url("../../Assets-Optimized/Images/enpara@2x.png") 2x);
}

.ptt-bank {
    background-image: image-set( url("../../Assets-Optimized/Images/pttBank.png") 1x, url("../../Assets-Optimized/Images/pttBank@2x.png") 2x);
}

.default-icon {
    background-image: image-set( url("../../../../Assets/PaymentMethods/ceppay.png") 1x, url("../../../../Assets/PaymentMethods/ceppay@2x.png") 2x);
}