.menu-container {
    height: 100%;
}

.menu {
    height: 48px;
    background: var(--color-6);
    font-weight: 500;
    color: var(--text);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    box-sizing: border-box;
    user-select: none;
    font-size: 14px;
    font-style: normal;
    gap: 8px;
    letter-spacing: -.42px;
    line-height: 20px;
}

.title {
    flex: 1;
    overflow: hidden;
    display: flex;
    gap: 5px;
}

.event-name {
    min-width: fit-content;
    padding-right: 5px;
}